<section>
  <div class="card-deck" >
    <div  *ngFor="let city of weatherData" class="card box-shadow">
      <div class="card-body text-center">
        <p>{{city.name}}, {{city.sys.country}}</p>
        <p>{{city.main.temp}}<sup>°C</sup></p>
        <p>Humidity: {{city.main.humidity}}</p>
        <p>Feels like: {{city.main.feels_like}}</p>
        <p>Sunrise</p>
        <p>Sunset</p>
        <figure>
          <img src="{{imgBaseUrl}}/{{city.weather[0].icon}}@2x.png"
            alt="{{city.weather[0]?.description}}">
          <figcaption>{{ city.weather[0]?.description }}</figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
