/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.box-shadow {
  -webkit-box-shadow: 0px 4px 5px 3px rgba(207, 201, 207, 1);
  -moz-box-shadow: 0px 4px 5px 3px rgba(207, 201, 207, 1);
  box-shadow: 0px 4px 5px 3px rgba(207, 201, 207, 1);
}
